@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    height:100vh ;
    margin: 0;
    overflow: hidden;
    background-color: #f3f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

h3 {
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    
    
  }
  
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* margin-bottom: 2px */
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .3s ease-out;
}

@keyframes hide{
    0%{
transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-50%,-50%) scale(0);
    }
}

.final{
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%) scale(0);
}


.final.show{
    transform: translate(-50%, -50%) scale(1);
    animation: show .3s ease-out;
}
@keyframes show{
    0%{
        transform: translate(-50%, -50%) scale(0);   
    }
    40%{
        transform: translate(-50%, -50%) scale(1.3);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}
/* span item */
.nums{
    position: relative;
    font-size: 50px;
    color: darkblue;
    overflow: hidden;
    width: 200px;
    height: 40px;
}

.nums span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) rotate(120deg);
    transform-origin:bottom center;
    color: gray;
    font-family: 'Merriweather Sans', sans-serif;
}
.nums span.in{
    transform: translate(-50%,-50%) rotate(0deg);
    animation: goIn .5s ease-in-out;
    color: red;
}

.nums span.out{
    animation: goOut .5s ease-in-out   
}
@keyframes goIn {
    0% {
      transform: translate(-50%, -50%) rotate(120deg);
    }
  
    30% {
      transform: translate(-50%, -50%) rotate(-20deg);
    }
  
    60% {
      transform: translate(-50%, -50%) rotate(10deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  
  @keyframes goOut {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    60% {
      transform: translate(-50%, -50%) rotate(20deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(-120deg);
    }
  }
  

  button{
    padding: 10px 15px;
    font-family: 'Merriweather Sans', sans-serif;
    border-radius: 5px;
  }
  button:focus{
    outline: none;
  }

  .remladFont{
      font-size: 16px;
      background-color: rgb(160, 105, 105);
      color: #f3f3f3f3;
      font-weight: 900;
      padding: 10px 14px;
  
  }